<!DOCTYPE html>

<html lang="en">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="../static/css/bootstrap.min.css" /> <!-- integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous"/> -->
    <!-- Custom CSS-->
    <link rel="stylesheet" href="../static/css/bootstrap-reboot.css" type="text/css" />
    <link rel="stylesheet" href="../static/css/bootstrap-grid.min.css" type="text/css" />
    <link rel="stylesheet" href="../static/css/admin.css" />
    <!--Custom JS-->
    <!--jQuery-->

    <script src="../static/js/jquery3.4.1.min.js"></script>

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="../static/js/bootstrap.min.js"></script>

    <!--Bootstrap JS-->
    <script src="../static/js/bootstrap.4.4.1.js.bootstrap.bundle.min.js"></script>

</head>
</html>