<!-- base.html -->

<!--
    Created on : 12 Sep 2021, 18:30:00
    Author     : Ho Xiu Qi
-->
<!-- base1.html -->

<!DOCTYPE html>

<html lang="en">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="../static/css/bootstrap.min.css" /> <!-- integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous"/> -->
    <!-- Custom CSS-->
    <link rel="stylesheet" href="../static/css/style.css" />
    <link rel="stylesheet" href="../static/css/bootstrap-reboot.css" type="text/css" />
    <link rel="stylesheet" href="../static/css/bootstrap-grid.min.css" type="text/css" />
    <!--Custom JS-->
    <!--jQuery-->

    <script src="../static/js/jquery3.4.1.min.js"></script>

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="../static/js/bootstrap.min.js"></script>

    <!--Bootstrap JS-->
    <script src="../static/js/bootstrap.4.4.1.js.bootstrap.bundle.min.js"></script>

</head>
</html>

<!--<!DOCTYPE html>-->
<!--<html lang="en">-->
<!--<head>-->
<!--    <meta charset="UTF-8">-->
<!--    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">-->
<!--    <title>ICT2101 P4_5 Dashboard</title>-->

<!--    &lt;!&ndash; Core CSS File Includes &ndash;&gt;-->
<!--     &lt;!&ndash; Bootstrap CSS &ndash;&gt;-->
<!--    &lt;!&ndash;<link rel="stylesheet" href="../static/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous"> &ndash;&gt;-->
<!--    <link rel="stylesheet" href="../static/css/bootstrap.min.css"/>-->

<!--    &lt;!&ndash; Custom CSS&ndash;&gt;-->
<!--    <link rel="stylesheet" href="../static/css/style.css">-->
<!--    <link rel="stylesheet" href="../static/css/bootstrap-reboot.css" type="text/css"/>-->
<!--    <link rel="stylesheet" href="../static/css/bootstrap-grid.min.css" type="text/css">-->
<!--    <link rel="stylesheet" href="../static/css/control.css">-->

<!--     &lt;!&ndash;jQuery&ndash;&gt;-->
<!--    <script src="../static/js/jquery3.4.1.min.js"></script>-->

<!--    &lt;!&ndash; Core JS File Includes &ndash;&gt;-->
<!--    <script src="../static/js/jquery.bundle49f7.js?ver=104"></script>-->

<!--    &lt;!&ndash; Optional JavaScript &ndash;&gt;-->
<!--    &lt;!&ndash; jQuery first, then Popper.js, then Bootstrap JS &ndash;&gt;-->
<!--    <script src="../static/js/bootstrap.min.js"></script>-->
<!--    <script src="../static/js/notify.min.js"></script>          &lt;!&ndash; For showing notifications &ndash;&gt;-->

<!--     &lt;!&ndash;Bootstrap JS&ndash;&gt;-->
<!--    <script src="../static/js/bootstrap.4.4.1.js.bootstrap.bundle.min.js"></script>-->
<!--</head>-->
<!--</html>-->