
<!--
    Created on : 27 Oct 2021, 12:52:00
    Author     : Bernard
-->

<!-- feature.html -->
<!DOCTYPE html>
<html lang="en">
    {% include 'base.html' %}
    <body>
        <div class="pos-f-t">
            <div class="collapse" id="navbarToggleExternalContent">
                <div class="bg-dark p-4">
                    <h4 class="text-white">Collapsed content</h4>
                    <span class="text-muted">Toggleable via the navbar brand.</span>
                </div>
            </div>
            <nav class="navbar navbar-expand-lg navbar-dark bg-info" id="nav-main">
                <a class="navbar-brand" href="../static/images/logo.png"><img src="../static/images/logo.png"alt="../static/images/startup.logo" height="70"></a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav mr-auto">
                     <li class="nav-item">
                        <a class="nav-link" href="{{ url_for('control') }}">Control</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{{ url_for('feature') }}">Components</a>
                    </li>
                    <li     class="nav-item">
                        <a class="nav-link" href="{{ url_for('feature') }}">About Us</a>
                    </li>
                </ul>
                <form class="form-inline my-2 my-lg-0" action="{{ url_for('logout') }}">
                    <input type="hidden" name="csrf_token" value="{{ csrf_token() }}">
                    <button class="btn btn-outline-warning my-2 my-sm-0" type="submit">Logout</button>
                </form>
    </div>
            </nav>
 <section id="what-we-do">
        <div class="section-content">
            <div class="container">
                <h2>Product Scope</h2>
                <p class="lead">
                    The project is about creating an interactive platform where students can control a robotic car through a web-based user interface.
                    Our aim is to induce the development of critical thinking and problem solving skills in students through active engagement in tackling real-world challenges using our platform.
                    The product imposes challenges in the form of a maze puzzle which includes multiple ‘checkpoints’ scattered randomly within a fixed area of a classroom environment, where students have to control and
                    navigate a robotic car through these checkpoints in a specific sequence.

                    The objectives for the students include gathering & analysing information of the challenge (e.g. car position vs checkpoint positions), formulating an action plan, and applying it by building a
                    corresponding chain of commands on the web-based control dashboard, before sending them to the robotic car for real-time execution. This process thereby enforces the development of critical thinking
                    and problem solving skills for the students as they attempt to clear the challenge across multiple iterations of trial-and-error.

                </p>

                <div class="row">
                    <div class="col-sm-12">
                        <div class="card-group">
                            <div class="card border-primary ">
                                <div class="card-body text-primary">
                                    <div class="card-block">
                                        <h6 class="card-title">Creative &amp; Design</h6>
                                    </div>
                                    <img src="../static/images/car1.jpg" alt=""><!-- comment -->
                                    <div class="card-block">
                                        <p class="card-text">The product is able to inspire students to have innovative and creativity ideas to design their very own car. <p>
                                    </div>
                                </div>
                            </div>
                            <div class="card border-primary ">
                                <div class="card-body text-primary">
                                    <div class="card-block">
                                        <h6 class="card-title">Simple &amp; Easy Installation</h6><!-- comment -->

                                    </div>
                                    <img src="../static/images/car2.jpg" alt="a "><!-- comment -->
                                    <div class="card-block">
                                        <p class="card-text">The installation of the car is quite simple and easy.<p>
                                    </div>
                                </div>
                            </div>
                            <div class="card border-primary ">
                                <div class="card-body text-primary">
                                    <div class="card-block">
                                        <h6 class="card-title">Education &amp; Fun </h6><!-- comment -->

                                    </div>
                                    <img src="../static/images/car3.jpg" alt=""><!-- comment -->
                                    <div class="card-block">
                                        <p class="card-text">Effectiveness of education through the use of technology can be enhanced by meaningful gamification which draws the interest of students and promotes active participation.<p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="feature-content">
            <div class="container">
                <div class="row align-items-center">
                    <div class="col-lg-6">
                        <div class="info info-horizontal info-hover-primary">
                            <div class="description pl-4">
                                <h2>Do You Know?</h2>
                                <h5 class="title">Motor Skills Development</h5>
                                <p>Demonstrate control and coordination in fine motor tasks as children develop eye-hand coordination in controlling the robotics car.</p>
                                <a href="#" class="text-info">Learn more</a>
                            </div>
                        </div>
                        <div class="info info-horizontal info-hover-primary mt-5">
                            <div class="description pl-4">
                                <h5 class="title">Digital Competencies</h5>
                                <p>Develop digital competencies through engaging with hands-on activities using drag and drop of icon based on programming software.</p>
                                <a href="#" class="text-info">Learn more</a>
                            </div>
                        </div>
                        <div class="info info-horizontal info-hover-primary mt-5">
                            <div class="description pl-4">
                                <h5 class="title">At the end of the session</h5>
                                <p>Able to learn to use software to move and control of the car to accomplish various checkpoints in order to reach the final destination.</p>
                                <a href="#" class="text-info">Learn more</a>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-6 col-10 mx-md-auto">
                        <img src="../static/images/car4.jpg" width="100%">
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section id="feature">
                     <div class = "component-content">
                <div class = "container">
                    <h2> Components</h2>
                    <br><!-- comment -->
                    <h4>What do you need?</h4>
                    <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
                        <div class="row">
                            <div class="col-md-6">
                                <ol class="carousel-indicators">
                                    <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
                                    <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
                                    <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
                                </ol>
                                <div class="carousel-inner">
                                    <div class="carousel-item active">
                                        <img class="center-block w-100" src="../static/images/child.jpg" style="width:150px" height="400px" alt="First slide">
                                    </div>
                                    <div class="carousel-item">
                                        <img class="center-block w-100" src="../static/images/component2.jpg" style="width:150px" height="400px" alt="Second slide">
                                    </div>
                                    <div class="carousel-item">
                                        <img class="center-block w-100" src="../static/images/component4.jpg" style="width:150px" height="400px" alt="Third slide">
                                    </div>
                                </div>
                                <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
                                    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                                    <span class="sr-only">Previous</span>
                                </a>
                                <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
                                    <span class="carousel-control-next-icon" aria-hidden="true"></span>
                                    <span class="sr-only">Next</span>
                                </a>
                            </div>
                        </div>
                    </div>

                    <div id="accordion">
                        <div class="container">
                            <p>Click below link for more details.</p>
                            <div class="container-header" id="headingOne">
                                <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapseOne" aria-expanded="false" aria-controls="collapseOne"data-bs-toggle="tooltip" data-bs-placement="top" title="Click Me!">
                                    Hardware
                                </button>
                            </div>
                            <div id="collapseOne" class="collapse" aria-labelledby="headingOne" data-parent="#accordion">
                                <div class="container-body">
                                    1 x MSP-432 Control card, 2 x Infrared Sensors, 1 x Ultra-sonic Sensors, 2 x Heavy-Duty Tyres, 1 x Battery Holder, 2 x batteries.
                                </div>
                                <a href="{{ url_for('hardwarespecs') }}" class="text-info">Learn more</a>
                            </div>
                        </div>

                        <div class="container">
                            <div class="container-header" id="headingTwo">
                                <h5 class="mb-0">
                                    <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo"data-bs-toggle="tooltip" data-bs-placement="bottom" title="Click Me!">
                                        Software
                                    </button>
                                </h5>
                            </div>
                            <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordion">
                                <div class="container-body">
                                    C Assembly language.
                                </div>
                                <a href="{{ url_for('hardwarespecs') }}" class="text-info">Learn more</a>
                            </div>
                        </div>
                    </div>
                </div>
                     </div>
            </section>



    <section id="about">
        <div class="section-content">
            <div class="container">
                <div class="col-md-6">
                    <div class="about-text">
                        <h3>About Us </h3>
                        <p class="lead">Team Members:</p>
                        <p> Team Leader : Ho Xiu Qi (1802962)</p>
                        <p> Team members: </p>
                        <p> Ng Kah Wei (2000994)</p>
                        <p>Lee Chee Kin Bernard (2002461) </p>
                        <p>Tan Hui Xuan, Coco Vanna (2002262)</p>
                        <p>Lee Wei Kang George (2000700)</p>

                    </div>
                </div>
            </div>
        </div>
    </section>
</body>
<footer>
    <p><em>Copyright &copy; Little Runner Car Control 2021.</em></p>
</footer>



