<!-- hardwarespecs.html -->

<!--
    Created on : 12 Sep 2021, 18:30:00
    Author     : Bernard, Xiu Qi
-->

<!DOCTYPE html>
<html lang="en">
    {% include 'base.html' %}
    <body>
        <div class="pos-f-t">
            <nav class="navbar navbar-expand-lg navbar-dark bg-info" id="nav-main">
                <a class="navbar-brand" href="../static/images/logo.png"><img src="../static/images/logo.png" alt="../static/images/startup.logo" height="70"></a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>

                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav mr-auto">
                        <li class="nav-item">
                            <a class="nav-link" href="{{ url_for('home') }}">Home <span class="sr-only">(current)</span></a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="{{ url_for('profile') }}">{{ active_user }}'s Profile</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="{{ url_for('dashboard') }}">Dashboard</a>
                        </li>
                        <li class="nav-item active">
                            <a class="nav-link" href="{{ url_for('hardwarespecs') }}">Components</a>
                        </li>
                    </ul>

                    <form class="form-inline my-2 my-lg-0" action="{{ url_for('logout') }}">
                        <input type="hidden" name="csrf_token" value="{{ csrf_token() }}">
                        <button class="btn btn-outline-warning my-2 my-sm-0" type="submit">Logout</button>
                    </form>
                </div>
            </nav>
        </div>
        <main class="container">
            <div id="abc" class="row">
                <article>
                    <h4>1. MSP 432P401R(CPU Card) </h4>
                    <figure class="image">
                        <img src="../static/images/component1.jpg" alt="../static/images/components1"/>
                    </figure>
                    <p>
                        The SimpleLink™ MSP432P401R LaunchPad™ development kit enables you to develop high-performance applications that
                        benefit from low-power operation. It features the MSP432P401R – which includes a 48MHz ARM® Cortex®-M4F,
                        80uA/MHz active power and 660nA RTC operation, SAR Precision ADC with 16-bit performance and AES256 accelerator.
                        <br>
                        Parts given: <br>
                        1 x MSP-EXP432P401R LaunchPad Development Kit.<br>
                        1 x Micro-USB cable.
                    </p>
                </article><br>
                <article>
                    <h4>2. Base and other components </h4>
                    <figure class="image">
                        <img src="../static/images/component2_1.jpg" alt="../static/images/components2"/>
                    </figure>
                    <p>
                        Base Components are: <br>
                        2 x Infrared Sensors <br>
                        1 x Ultrasonic Sensors <br>
                        1 x Battery holder compartment <br>
                        1 set of Rollers <br>
                    </p>
                </article><br>
            </div>
        </main>
    </body>

    <footer>
        <p><em>Copyright &copy; Robotic Coding Car Control 2021.</em></p>
    </footer>
